
<div>
    <h2>Add new employee</h2>

    <div>
        <label for="employee-name">Full name: </label>
        <input id="employee-name" placeholder="Full name" #employeeName>
    </div>
    <div>
        <label for="employee-dob">Date of birth: </label>
        <input id="employee-dob" placeholder="Date of birth" #employeeDob>
    </div>
    <div>
        <label for="employee-phone">Phone number: </label>
        <input id="employee-name" placeholder="Phone number" #employeePhoneNumber>
    </div>
    <div>
        <label for="employee-dob">Home town: </label>
        <input id="employee-dob" placeholder="Home town" #employeeHomeTown>
    </div>
    <div>
        <label for="employee-dob">University: </label>
        <input id="employee-dob" placeholder="University" #employeeUniversity>
    </div>
</div>
<div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="add(employeeName.value, employeeDob.value, employeePhoneNumber.value, employeeHomeTown.value, employeeUniversity.value)">Add</button>
</div>