
<div>
    <h2>Add new employee</h2>

    <div>
        <label for="employee-name">Full name: </label>
        <input [(ngModel)]="employee.fullName" id="employee-name" placeholder="Full name">
    </div>
    <div>
        <label for="employee-dob">Date of birth: </label>
        <input [(ngModel)]="employee.dob" id="employee-dob" placeholder="Date of birth">
    </div>
    <div>
        <label for="employee-phone">Phone number: </label>
        <input [(ngModel)]="employee.phone" id="employee-name" placeholder="Phone number">
    </div>
    <div>
        <label for="employee-dob">Home town: </label>
        <input [(ngModel)]="employee.homeTown" id="employee-dob" placeholder="Home town">
    </div>
    <div>
        <label for="employee-dob">University: </label>
        <input [(ngModel)]="employee.university" id="employee-dob" placeholder="University">
    </div>
</div>
<div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="add()">save</button>
</div>