
<div>
    <h2>Add new employee</h2>

    <div>
        <label for="employee-name">Full name: </label>
        <input [(ngModel)]="employeeRequest.fullName" id="employee-name" placeholder="Full name">
    </div>
    <div>
        <label for="employee-dob">Date of birth: </label>
        <input [(ngModel)]="employeeRequest.dob" id="employee-dob" placeholder="Date of birth">
    </div>
    <div>
        <label for="employee-phone">Phone number: </label>
        <input [(ngModel)]="employeeRequest.phone" id="employee-phone" placeholder="Phone number">
    </div>
    <div>
        <label for="employee-home-town">Home town: </label>
        <input [(ngModel)]="employeeRequest.homeTown" id="employee-home-town" placeholder="Home town">
    </div>
    <div>
        <label for="employee-university">University: </label>
        <input [(ngModel)]="employeeRequest.university" id="employee-university" placeholder="University">
    </div>
    <div>
        <label for="employee-email">Email: </label>
        <input [(ngModel)]="employeeRequest.email" id="employee-email" placeholder="Email">
    </div>
</div>
<div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="add()">add</button>
</div>