<!-- <h2>{{employee.fullName | uppercase}} Details</h2>
<div><span>ID: </span>{{employee.id}}</div>
<div><span>Full name: </span>{{employee.fullName}}</div>
<div><span>DOB: </span>{{employee.dob}}</div>
<div><span>Phone number: </span>{{employee.phone}}</div>
<div><span>Home town: </span>{{employee.homeTown}}</div>
<div><span>University: </span>{{employee.university}}</div> -->

<div class="container-block container">
    <div class="responsive-container-block teamcard-container">
        <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container" *ngFor="let employee of employees">
            <div class="team-card">
                <div class="team-img-wrapper">
                    <img src="https://cdn-icons-png.flaticon.com/512/6840/6840478.png"
                        class="team-img" routerLink="/employees/{{employee.id}}"/>
                </div>
                <div class="team-card-content">
                    <p class="text-blk name">{{employee.fullName}}
                    </p>
                    <p class="text-blk position">Staff
                    </p>
                </div>
            </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-mobile-12 wk-tab-4 wk-ipadp-4 team-card-container">
            <div class="team-card">
                <div class="team-img-wrapper">
                    <img id="add-img" src="https://www.freepnglogos.com/uploads/plus-icon/plus-icon-plus-svg-png-icon-download-1.png"
                        class="team-img" routerLink="/employees/add"/>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="selectedEmployee">
    <h2>{{selectedEmployee.fullName | uppercase}} Details</h2>
    <div>id: {{selectedEmployee.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="selectedEmployee.fullName" placeholder="name">
    </div>
</div> -->